body {
	width: 54em; /* 864px @ 16px */
	margin-left: auto;
	margin-right: auto;
}

/* Mobile Landscape CSS */
@media all and (max-device-width: 480px) and (orientation:portrait) {
	body {
		width: 22.375em; /* 358px @ 16px */
	}
}