body {
	width: 54em; /* 864px @ 16px */
	margin-left: auto;
	margin-right: auto;
    padding: 1em;
}
.metadata {
	margin-top: 2em; /* 24px @ 16px */
	margin-bottom: 2em;
	padding-left: 0;
	list-style: none;
	font-size: 0.75em; /* 12px @ 16px */
}
.metadata li {
	display: block;
	float: left;
	padding-left: 0;
	padding-right: 1em;
	line-height: 2em; /* 24px @ 16px */
}
.metadata li:after {
	content: "|";
	/*color: #000;*/
	padding-left: 1em;
}
.metadata li:last-child {
	float: none;
	padding-right: 0;
}
.metadata li:last-child:after {
	content: "";
}

/* Mobile Portrait CSS */
/* @media all and (max-device-width: 320px) and (orientation:portrait) */
@media all and (max-width: 320px) {
	body {
		width: 20em; /* 320px @ 16px */
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.metadata li {
		display: list-item;
		float: none;
	}
	.metadata li:after {
		content: "";
		padding-left: 0;
	}
}

/* Mobile Landscape & Tablet Portrait CSS */
/* @media all and (max-device-width: 480px) and (orientation:landscape) */
@media all and (min-width: 321px) and (max-width: 768px) {
	html {
		-webkit-text-size-adjust: none; /* prevent font scaling */
	}
	body {
		width: 100%;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.metadata li {
		display: list-item;
		float: none;
	}
	.metadata li:after {
		content: "";
		padding-left: 0;
	}
}
