body {
    font-family: Verdana, Arial, sans-serif;
    padding: 1em;
    line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Gill Sans", sans-serif;
    font-weight: normal;
}
h1 {
    background-color: #CCC;
    margin-top: 0;
    line-height: 1.5em;
}
h2, h3, h4, h5 {
    background-color: #EEE;
    text-transform: uppercase;
}
