/**
 * Grid
 */
#grid{

    /* Dimensions - same width as your grid with gutters */
    width: 864px;

    /* Grid (left-aligned)
    position: absolute;
    top: 0;
    left: 0;
    */

    /* Grid (centered) */
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -432px;

}

/**
 * Vertical grid lines
 *
 * Set the column width taking the borders into consideration,
 * and use margins to set column gutters.
 */
#grid div.vert{

    width: 143px;
    border: solid darkturquoise;
    border-width: 0 1px;
    margin-right: 23px;

}

#grid div.vert.first-line{

    margin-left: 23px;

}


/**
 * Horizontal grid lines, defined by your base line height
 *
 * Remember, the CSS properties that define the box model:
 * visible height = height + borders + margins + padding
 */
#grid div.horiz{

    /* 24px line height */
    height: 23px;
    border-bottom: 1px dotted darkgray;
    margin: 0;
    padding: 0;

}
